@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

body {
    background-image: linear-gradient(to top, #30cfd0 0%, #532d83 100%);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.fuente {
    font-family: 'Teko', sans-serif;
}